@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Slab:wght@300&display=swap');

body{
    background-color: rgb(229, 248, 211) ;
    font-family:'Lato', 'Roboto Slab' ;
    font-size: 22px;
    max-width: 1630px;
    
}
header{
    background:url(../images/nav_menu.jpg) center center no-repeat;
    background-size: cover;
    margin: 0 auto;
    
    
        
}
nav {
    text-align:center; 
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;    
    
        
}
nav a  { 
    text-decoration: none;
    color:white;
    font-size: 30px;
    font-weight: 900;
    
    
}
nav a:hover {
    
    color: black;
}


#logo_link {  
    text-align: center;
    
}
#box {
    display: grid;
    height: 800px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 100px;
    padding-top: 30px;
    margin-bottom: 250px;
    font-size: 27x;
}

#box h2{
    text-decoration: solid;
    text-align: center;
    font-size: 50px;
}

#welcome {
    
    max-width: 715px;
    padding: 20px;
    margin-bottom: 40px;
    margin-left: auto;      
    background-color: white;
    color: black;
    box-shadow: 5px 5px 10px #6f7364;
}

#participants {
    
    max-width: 715px;
    padding: 20px;
    margin-bottom: 40px;
    background-color: white;
    color: black;
    box-shadow: 5px 5px 10px #6f7364;
}

.boxes {
    padding: 0px 20px 30px 30px;
}

#registration {
    text-decoration: solid;
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 200px;  
}

.book {
    text-decoration:none;
    font-weight:600;
    font-size:40px;
    color:#070707;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:150px;
    padding-right:150px;
    background-color:#FFD27D;
    border-radius: 30px;
    border-style:solid;
    box-shadow: 5px 5px 10px #6f7364;
    }

.book:hover{
    color: white; 
    background-color:#f7a713;
    border: #070707;
    border-radius: 30px;
    border-style:solid;
}