@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Slab:wght@300&display=swap');

body{
    background-color: rgb(229, 248, 211) ;
    font-family:'Lato', 'Roboto Slab' ;
    font-size: 22px;
    max-width: 1640px;
    
}
header{
    background:url(../images/nav_menu.jpg) center center no-repeat;
    background-size: cover;
    max-width: 100%;
    margin: 0 auto;
    
    
        
}
nav {
    text-align:center; 
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;    
    
        
}
nav a  { 
    text-decoration: none;
    color:white;
    font-size: 30px;
    font-weight: 900;
    
    
}
nav a:hover {
    
    color: black;
}


#logo_link {  
    text-align: center;
    
}
#box {
    display: grid;
    height: 800px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 100px;
    padding-top: 30px;
    margin-bottom: 250px;
    font-size: 27x;
}

#box h2{
    text-decoration: solid;
    text-align: center;
    font-size: 50px;
}

#welcome {
    
    max-width: 715px;
    padding: 20px;
    margin-bottom: 40px;
    margin-left: auto;      
    background-color: white;
    color: black;
    font-weight: 900;
    box-shadow: 5px 5px 10px #6f7364;
    border-left: 8px solid #f7a713;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

#participants {
    
    max-width: 715px;
    padding: 20px;
    margin-bottom: 40px;
    background-color: white;
    color: black;
    font-weight: 900;   
    box-shadow: 5px 5px 10px #6f7364;
    border-left: 8px solid #f7a713;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.boxes {
    padding: 0px 20px 30px 30px;
}

#registration {
    text-decoration: solid;
    text-align: center;
    font-size: 50px;
    margin-bottom: 70px;
    margin-top: 200px;  
    
}

 .book {
    text-decoration:none;
    font-weight:600;
    font-size:40px;
    color:#070707;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:150px;
    padding-right:150px;
    background-color:#fba035;
    border-radius: 30px;
    border-style:solid;
    box-shadow: 5px 5px 10px #6f7364;
    
    }

.book:hover{
    color: white; 
    background-color:#ffb923;
    border: #070707;
    border-radius: 30px;
    border-style:solid; 
}


/*  this is for a rotating effect
.book


background:#FFD27D;
color:#070707;
font-weight:600;
font-size:40px;
padding:10px 15px;
border-radius: 30px;
border-style:solid;
box-shadow: 5px 5px 10px #6f7364;
margin:50px;
cursor:pointer;
text-decoration: none;

-webkit-transition:-webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s;

-o-transition-property:width,height,-o-transform,background,font-size,opacity,color;
-o-transition-duration:1s,1s,1s,1s,1s,1s,1s;

-moz-transition-property:width, height, -moz-transform, background, font-size, opacity, color;
-moz-transition-duration:1s,1s,1s,1s,1s,1s,1s;

transition-property:width,height,transform,background,font-size,opacity;
transition-duration:1s,1s,1s,1s,1s,1s;

-webkit-border-radius:5px;
border-radius:5px;

box-shadow:0 0 2px rgba(0,0,0,0.5);

text-shadow:0 0 5px rgba(255,255,255,0.5);

display:inline-block;    /* It is important for the button to rotate
}

.book:hover
{
-moz-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);

background:#f7a713;
font-size:40px;
color:white;
border: #070707;
border-radius: 30px;
border-style:solid; 
text-decoration: none;
}
*/


footer {
    background:url(../images/footer.jpg) center center no-repeat;
    background-size: cover;
    max-width: 100%;
    padding: 25px 50px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

footer h3 {
    color: white;
    font-size: 30px;
}
footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color:rgba(17, 0, 0, 0.897);
}
footer p{
    color:black;
    font-weight: 600;
}