h1 {
    text-align: center;
    color: white;
}

img {
    display: block;
    width: 40%;
    margin: 0 auto;
}
h5 {
    text-align: center;
    color: white;
}
h2 {
    text-align: center;
    color: white;
}
h3 {
    text-align: center;
    color: white;
}
body {
    max-width: 350px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
    background-color: pink;
  }
nav {
    text-align: left;   

}